<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.example.demo.emp.mapper.EmpMapper">
	<select id="selectAllEmpList" resultType="EmpVO">
		SELECT *
		FROM employees
	</select>
	
	<insert id="insertEmpInfo" parameterType="EmpVO">
		INSERT INTO
			employees(
			employee_id,
			last_name,
			email,
			hire_date,
			job_id)
		VALUES(
			#{employeeId},
			#{lastName},
			#{email},
			#{hireDate},
			#{jobId})
	</insert>
	
	<select id="selectEmpInfo" parameterType="Integer" resultType="EmpVO">
		select *
		from employees
		where employee_id = #{empId}
	</select>
	
  </mapper>